<%- include('Partials/header') -%>


      <div class="site-section-cover overlay" style="background-image: url('images/hero_bg.png');">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
              <h1><strong>Blog Posts</strong></h1>
            </div>
          </div>
        </div>
      </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a target="_blank" href="https://codetilllogn.blogspot.com/2020/08/should-i-start-with-c-or-java.html" class="thumbnail-link">
                <img src="images/day_1.png" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">

                <h2><a href="single"Should i start with java or c++</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Harshita Goswami</a></span>
                <p>There are numerous types of programming languages throughout the technological world, and the uses of these programming languages are endless. There’s no limit to what coders can accomplish with computers. </p>
              </div>
            </div>
          </div>
              </div>




        <div class="row">
          <div class="col-5">
            <div class="custom-pagination">
              <span><em>1</em></span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%- include('Partials/footer') -%>
