<%- include('Partials/header') -%>
  <body>




      <div class="site-section-cover overlay" style="background-image: url('images/hero_bg.jpg');">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
              <h1><strong>Testimonials</strong></h1>
            </div>
          </div>
        </div>
      </div>




      <div class="site-section bg-light">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>"Limted but awesome content provided by CodeTillLogn Teachers are awesome they explain  very well "</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <!-- <img src="images/person_1.jpeg" alt="Image" class="img-fluid mr-3"> -->
                <div class="author-name">
                  <span class="d-block">Shivam</span>
                  <span>Student</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>" I only watch the Competitive-programming series videos and i found the best video tutorial Thankyou CodeTillLogn"</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <!-- <img src="images/person_2.jpeg" alt="Image" class="img-fluid mr-3"> -->
                <div class="author-name">
                  <span class="d-block">Rishabh Bharti</span>
                  <span>Student</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="testimonial-2">
              <blockquote class="mb-4">
                <p>"Content is awesome and Easy to Understand , I give 4 star because i need more content to learn from CodeTillLogn"</p>
              </blockquote>
              <div class="d-flex v-card align-items-center">
                <!-- <img src="images/person_3.jpeg" alt="Image" class="img-fluid mr-3"> -->
                <div class="author-name">
                  <span class="d-block">Hament</span>
                  <span >Student</span>
                </div>
              </div>
            </div>
          </div>


    <%- include('Partials/footer') -%>
